body {
	align-items: center;
  background-color: black;
	font-family: 'Georgia', sans-serif;
}

.introduction h1 {
  color: white;
  text-align: center;
}

.mylist h3 {
  color: green;
  text-align: left;
}

.mylist p {
  color: white;
  text-align: left;
}
