body {
	align-items: center;
  background-color: black;
	font-family: 'Georgia', sans-serif;
}

.topnav {
  overflow: hidden;
}

.topnav a {
  background-color: rgb(42,42,42);
  color: white;
  font-size: 18px;
  display: block;
  float:right;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: white;
  color: black;
}

.topnav a:active {
  background-color: white;
  color: black;
}

.introduction h1 {
  color: white;
  text-align: center;
}

.dates {
  float: right;
  background-color: rgb(42,42,42);
  border-style: solid;
  border-radius: 20px;
  color: white;
  width: 200px;
  padding-left: 70px;
  padding-right: 70px;
  text-align: center;
}

.mylist {
  background-color: rgb(42,42,42);
  padding: 25px;
  padding-left: 70px;
  padding-right: 70px;
  border-bottom: 1px;
  border-style: solid;
  border-radius: 20px;
}

.mylist h3 {
  color: green;
  text-align: left;
}

.mylist p {
  color: white;
  text-align: left;
  padding-top: 20px;
}
